<ul class="layui-nav layui-nav-tree">
    <li class="layui-nav-item">
        <a href="/admin/index">
            <i class="layui-icon layui-icon-home"></i>
            后台首页
        </a>
    </li>
    <li class="layui-nav-item">
        <a class="" href="javascript:;">
            <i class="layui-icon layui-icon-user"></i>
            用户管理
        </a>
        <dl class="layui-nav-child">
            <dd><a href="/admin/user/index">用户列表</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">
            <i class="layui-icon layui-icon-auz"></i>
            权限管理
        </a>
        <dl class="layui-nav-child">
            <dd><a href="/admin/auth/route">路由管理</a></dd>
            <dd><a href="/admin/auth/role">角色管理</a></dd>
        </dl>
    </li>
</ul>